<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="myApp"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body ng-controller="MyCtrl" class="container">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
      <div class="row">
        <div class="body col-sm-10 col-sm-offset-1">
          <div class="header row">
            <div class="happy col-md-3">
              <img src="img/mad-lib-happy-face.png" alt="">
            </div>
            <div class="automate col-md-9">
              <img src="img/ng-mad-libs-logo.png" alt="">
              <h1>Automate This!</h1>
            </div>
          </div>
          <div id="game">
            <div class="animate-show positionAbsolute madLib-input row" ng-hide="display === 1">
              <div class="col-md-12">
                <h2>Provide the following words:</h2>
              </div>

              <div class="input">
                <form name="madLibForm" ng-submit="submitForm()" novalidate>
                  <div class="col-md-4 male-name">
                    <input required type="text" ng-model="male" name="male" placeholder="Male Name" />
                    <div ng-if="madLibForm.$submitted" ng-messages="madLibForm.male.$error">
                      <span class="error" ng-message="required">Field is required!</span>
                    </div>
                  </div>
                  <div class="col-md-4 dirty-task">
                    <input required type="text" ng-model="dirty" name="dirty" placeholder="Dirty Task" />
                    <div ng-if="madLibForm.$submitted" ng-messages="madLibForm.dirty.$error">
                      <span class="error" ng-message="required">Field is required!</span>
                    </div>
                  </div>
                  <div class="col-md-4 obnoxious">
                    <input required type="text" ng-model="obnox" name="obnox" placeholder="Obnoxious Celebrity" />
                    <div ng-if="madLibForm.$submitted" ng-messages="madLibForm.obnox.$error">
                      <span class="error" ng-message="required">Field is required!</span>
                    </div>
                  </div>
                  <div class="col-md-4 job-title">
                    <input required type="text" ng-model="job" name="job" placeholder="Job Title" />
                    <div ng-if="madLibForm.$submitted" ng-messages="madLibForm.job.$error">
                      <span class="error" ng-message="required">Field is required!</span>
                    </div>
                  </div>
                  <div class="col-md-4 celeb">
                    <input required type="text" ng-model="celeb" name="celeb" placeholder="Celebrity" />
                    <div ng-if="madLibForm.$submitted" ng-messages="madLibForm.celeb.$error">
                      <span class="error" ng-message="required">Field is required!</span>
                    </div>
                  </div>
                  <div class="col-md-4 huge-number">
                    <input required type="number" ng-model="huge" name="huge" placeholder="Huge Number" />
                    <div ng-if="madLibForm.$submitted" ng-messages="madLibForm.huge.$error">
                       <span class="error" ng-message="required">Field is required!</span>
                       <span class="error" ng-message="number">Please use a Number</span>           
                    </div>
                  </div>
                  <div class="col-md-4 tedious">
                    <input required type="text" ng-model="tedious" name="tedious" placeholder="Tedious Task" />
                    <div ng-if="madLibForm.$submitted" ng-messages="madLibForm.tedious.$error">
                       <span class="error" ng-message="required">Field is required!</span>
                    </div>
                  </div>
                  <div class="col-md-4 useless">
                    <input required type="text" ng-model="useless" name="useless" placeholder="Useless Skill" />
                   <div ng-if="madLibForm.$submitted" ng-messages="madLibForm.useless.$error">
                       <span class="error" ng-message="required">Field is required!</span>
                    </div>
                  </div>
                  <div class="col-md-4 adjective">
                    <input required type="text" ng-model="adjective" name="adjective" placeholder="Adjective" />
                    <div ng-if="madLibForm.$submitted" ng-messages="madLibForm.adjective.$error">
                      <span class="error" ng-message="required">Field is required!</span>
                    </div>
                  </div>
                  <input type="submit" name="submit" value="Generate My Mad Lib" />
                </form>
              </div>
            </div> <!--end of .madLib-input -->
            <div class="animate-show positionAbsolute madlib row" ng-show="display === 1">
              <div class="col-md-10 col-md-offset-1">
                 <p> <span>{{male}}</span> was a <span>{{job}}</span> who loved technology. Although he loved parts of his job, he absolutely hated  <span>{{tedious}}</span> and <span>{{dirty}}</span>. So, <span>{{male}}</span> met with his life mentor <span>{{celeb}}</span> who told him to learn how to <span>{{useless}}</span> with Thinkful. Thinkful didn't offer a course on <span>{{useless}}</span> so he studied programming instead.</p><br><br>
                <p>
            What a great decision! With his new skills, <span>{{male}}</span> built a(n) <span>{{adjective}}</span> robot named <span>{{obnox}}</span> that not only loved <span>{{dirty}}</span> but did it <span>{{huge}}</span> times faster. </p>
              </div>
              <input type="submit" ng-click="restart()" value="Start Over"/>
            </div> <!--end of .madLib -->
          </div> <!--end of #game -->        
        </div> <!--end of .body -->
      </div> <!--end of .row -->

      <footer>
      </footer>
      <script src="bower_components/angular/angular.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular-messages.js"></script>
      <script src="bower_components/angular-animate/angular-animate.min.js"></script>
      <script src="js/main.js"></script>
    </body>
</html>
